@theme {
  --color-mapache-vivid-primary-cyan: #008b8b;
  --color-mapache-vivid-primary-raspberry: #9c0052;
  --color-mapache-vivid-primary-blue: #008ec1;
  --color-mapache-vivid-primary-orange: #ff4500;
  --color-mapache-vivid-secondary-purple: #790fc5;
  --color-mapache-vivid-secondary-green: #008f39;
  --color-mapache-vivid-secondary-red: #ff0000;
  --color-mapache-vivid-secondary-gold: #a77e18;
  --color-mapache-vivid-dark: #1e1e1e;
  --color-background: #1e1e1e;
  --color-foreground: #ffffff;
  --color-card: #ffffff;
  --color-card-foreground: #1e1e1e;
  --color-popover: #ffffff;
  --color-popover-foreground: #1e1e1e;
  --color-primary: #ff4500;
  --color-primary-foreground: #000000;
  --color-secondary: #008b8b;
  --color-secondary-foreground: #000000;
  --color-muted: #383838;
  --color-muted-foreground: #ffffff;
  --color-accent: #790fc5;
  --color-accent-foreground: #ffffff;
  --color-destructive: #ff0000;
  --color-destructive-foreground: #000000;
  --color-border: #000000;
  --color-input: #000000;
  --color-ring: #008b8b;
}
