@import "tailwindcss";

@theme {
  --color-mapache-vivid-primary-cyan: #008b8b;
  --color-mapache-vivid-primary-raspberry: #9c0052;
  --color-mapache-vivid-primary-blue: #008ec1;
  --color-mapache-vivid-primary-orange: #ff4500;
  --color-mapache-vivid-secondary-purple: #790fc5;
  --color-mapache-vivid-secondary-green: #008f39;
  --color-mapache-vivid-secondary-red: #ff0000;
  --color-mapache-vivid-secondary-gold: #a77e18;
  --color-mapache-vivid-dark: #1e1e1e;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-mapache-vivid-dark);
  color: white;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  overscroll-behavior-y: none;
}

* {
  box-sizing: border-box;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.noise-bg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.15' mix-blend-mode='overlay'/%3E%3C/svg%3E");
}
